fedgf
version: 2

jobs:
  one:
    docker:
      - image: cimg/ruby:3.0.2
    auth:
      username: mydockerhub-user
      password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run: echo "A first hello"
      - run:
          name: Create Workspace Directory
          command: mkdir -p my_workspace
      - run:
          name: Write to Workspace
          command: echo "Trying out workspaces" > my_workspace/echo-output
      - persist_to_workspace:
          root: my_workspace
          paths:
            - echo-output

  two:
    docker:
      - image: cimg/ruby:3.0.2
    auth:
      username: mydockerhub-user
      password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - attach_workspace:
          at: my_workspace
      - run:
          name: Check Workspace Content
          command: |
            if [[ "$(cat my_workspace/echo-output)" == "Trying out workspaces" ]]; then
              echo "It worked!"
            else
              echo "Nope!"
              exit 1
            fi

workflows:
  version: 2
  one_and_two:
    jobs:
      - one
      - two:
          requires:
            - one
